#!/usr/bin/python3
import re
import sys

css = sys.stdin.read()
css = re.sub(
    r"""(?m)^[ \t]*@import\s+(?:url\(\s*)?["'](?:colors|dank-colors)\.css["']\s*\)?\s*;[ \t]*(?:\n)?""",
    "",
    css,
)
{{ if and (get . "graphical") (get . "niri") (eq (get . "desktopShell" | default "custom") "dms") -}}
sys.stdout.write('@import "dank-colors.css";\n' + css)
{{ else -}}
sys.stdout.write('@import "colors.css";\n' + css)
{{ end -}}
