[Settings]
gtk-font-name=Adwaita Sans 11
{{ if not (and (get . "graphical") (get . "niri") (eq (get . "desktopShell" | default "custom") "dms")) -}}
gtk-theme-name=adw-gtk3-dark
gtk-application-prefer-dark-theme=true
{{ end -}}
