{
  "$schema": "https://unpkg.com/@oai404iao/pi-subagent@0.6.0/config.schema.json",
  "agentScope": "user",
  "maxDepth": 3,
  "runtimeMode": "foreground",
  "inheritExtensions": true,
  "maxOutputBytes": 51200,
  "openAIIdentity": true
}
