{
  "$schema": "https://unpkg.com/@oai404iao/pi-subagent@1.0.0/config.schema.json",
  "agentScope": "user",
  "maxDepth": 3,
  "maxConcurrentAgents": 4,
  "inheritExtensions": true,
  "maxOutputBytes": 51200,
  "openAIIdentity": true
}
